<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.CarouselDao">
    <select id="selectByPrimaryKey" resultType="Carousel">
    select * from carousel LIMIT #{start},#{rows}
  </select>
    <update id="updateStatus">
    update carousel set status=#{status} where id=#{id}
  </update>
    <select id="getCount" resultType="int">
    select count(*) from carousel
  </select>
    <delete id="delete">
    delete from carousel where id=#{id}
  </delete>
    <insert id="insertOne">
    insert into carousel values (0,#{title},#{imgPath},#{desc},#{status},SYSDATE())
  </insert>
</mapper>